// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #FAFAFA;
$white: #FFFFFF;

$col-general: #1D73A5;
$col-artists: #DC5F2F;
$col-eventers: #83B594;
$col-passionates: #545E7E;
$black: #151515;

