<div class="container">
  <div class="justify-content-between align-items-start" style="width: 100%">
    <div class="contenant general all-left bottom-border-general can-grow aligned-started">
      <h1>sign up</h1>
    </div>

  <div>
    <form>
      <label for="exampleFormControlSelect1">Sign up as</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Artist</option>
        <option>Eventer</option>
        <option>Passionate</option>
      </select>
    </form>
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">First Name</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Antonio">
  </div>
</div>
