html, body {
   margin:0;
   padding:0;
   height:100%;
}

#container {
   min-height:100%;
   position:relative;
}

#body {
   padding-bottom:180px;   /* Height of the footer */
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:180px;   /* Height of the footer */
}

.container {
  margin: 0 !important;
  padding: 6vw 3vw !important;
  max-width: 100vw !important;

  .col-sm-12, .col-md-10, .col-lg-8, .col-xl-6, .col-6 {
    padding: 0 !important;
  }
}

.container {
  a {
    text-decoration: none;
  }

  .general a{
    color: #1D73A5;
  }

  .artist a{
    color: #DC5F2F;
  }

  .eventer a{
    color: #83B594;
  }
}

.container a:hover {
  text-decoration: none;
}

.contenant {
  display: flex;
  margin: 0;

  &.centered {
    justify-content: center;
  }

  &.all-left {
    justify-content: flex-start;
  }

  &.all-right {
    justify-content: flex-end;
  }

  &.spaced-in-between {
    justify-content: space-between;
  }

  &.aligned-centered {
    align-items: center;
  }

  &.aligned-started {
    align-items: flex-start;
  }

  &.aligned-end {
    align-items: flex-end;
  }

  &.general {
    color: #1D73A5;
  }

  &.artist {
    color: #DC5F2F;
  }

  &.eventer {
    color: #83B594;
  }

  &.can-grow {
    flex-grow: 1;
  }

  &.bottom-border-general {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #1D73A5;
    margin-right: 20px;
  }

  &.bottom-border-artist {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #DC5F2F;
  }

  &.bottom-border-eventer {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #83B594;
  }
}

.contenant-notflex {
  margin: 0;
  padding: 0;

  &.centered {
    justify-content: center;
  }

  &.all-left {
    justify-content: flex-start;
  }

  &.all-right {
    justify-content: flex-end;
  }

  &.spaced-in-between {
    justify-content: space-between;
  }

  &.aligned-centered {
    align-items: center;
  }

  &.aligned-started {
    align-items: flex-start;
  }

  &.aligned-end {
    align-items: flex-end;
  }

  &.general {
    color: #1D73A5;
  }

  &.artist {
    color: #DC5F2F;
  }

  &.eventer {
    color: #83B594;
  }
}

@media (min-width: 998px) {
  .container {
    padding: 3vw 20vw !important;
  }
}
