.navbar-mmb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #151515;

  img {
    height: 35px;
    padding-left: 10px;
  }
}

.navbar-mmb .mmb-container {
  padding: 6px;
  width: 100%;
}

.mmb-row {
  display: flex;
  justify-content: space-between;
}

.navbar-mmb .mmb-column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.navbar-mmb .mmb-column h5 {
  color: white;
  font-weight: 700;
  margin: 0;
  padding-right: 20px;
}

.navbar-mmb .mmb-column a {
  text-decoration: none;
  color: white;
}

.navbar {
  padding: 0;
}

.navbar-toggler {
  color: white;
  padding: 0;
}

.navbar-toggler-elements a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.navbar-toggler-elements li {
  list-style-type: none;
}

