<!-- <h1>Eventers#show</h1> -->
<!-- <p>Find me in app/views/eventers/show.html.erb</p> -->

<h1><%= @eventer.eventer_name %></h1>
<p><%= @eventer.venue_address%></p>
<p><%= @eventer.venue_type %></p>
<p><%= @eventer.venue_type %></p>



<%#= if user.type = artist %>
<%#= render, artist %>
 <!--  else
  %= render, artist %>
  end
 -->
