<div class="footer-mmb">
  <div>
    <%= image_tag 'mixmyband-logo.png', style: "width: 70px" %>
  </div>
  <div class="py-1">
    <p>about us</p>
    <p>contact us</p>
  </div>
  <div class="footer-mmb-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="pt-2">
    <p>ⓒ 2019 </p>
    <p>created with <i class="fas fa-heart"></i> in Montreal</p>
  </div>
</div>
