<div class="container">

  <div class="row"><h3><strong>BUTTONS</strong></h3></div>
  <div class="row mt-3">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
    <ul class="list-group">
      <li class="list-group-item p-3"><p class="button-submit signup">SIGN UP</p></li>
      <li class="list-group-item p-3"><p class="button-submit form">SUBMIT</p></li>
      <li class="list-group-item p-3"><p class="button-submit review">+ Add a Review</p></li>
      <li class="list-group-item p-3"><p class="button-plain artist">BOOK THIS ARTIST</p></li>
      <li class="list-group-item p-3"><p class="button-plain eventer">BOOK THIS VENUE</p></li>
      <li class="list-group-item p-3"><p class="button-empty-bordered artist">SEND A MESSAGE</p></li>
      <li class="list-group-item p-3"><p class="button-empty-bordered eventer">SEND A MESSAGE</p></li>
      <li class="list-group-item p-3"><p class="button-empty-bordered general">EDIT YOUR PROFILE</p></li>
    </ul>
    </div>
  </div>

  <div class="row mt-5"><h3><strong>CARDS</strong></h3></div>
    <div class="row mt-3">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
      <div class="card-display" style="background-image: url(https://i1.sndcdn.com/artworks-000643306846-uqxfn3-t500x500.jpg); height:265px;" >
        <div class="card-display-footer carrousel">
          <h4>Costin Dumitrescu</h4>
        </div>
      </div>
    </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
      <div class="card-display" style="background-image: url(https://bilder.t-online.de/b/85/83/35/36/id_85833536/920/c_raw/tid_da/kiss-die-rockband-ist-auf-deutschlandtour-.jpg); height:265px;">
        <div>
        <h3 class="card-display-intermediate">The Nicotines</h3>
        <div class="card-display-footer general">
          <h5>Band | 150 $CAD/hour</h5>
          <p>This group is fucking amazing. Playing rock music like if this music style was created just for them. Their bassist Costino is hot! You should not miss each and every concert they perform!</p>
        </div>
        </div>
      </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
      <div class="card-display" style="background-image: url(https:www.onholdinc.com/mohblog/wp-content/uploads/2018/03/restaurant.jpg); height: 265px;">
        <div class="card-display-footer general">
          <div>
            <h4>Miam Bar</h4>
            <h5>5333 avenue Casgrain, Montréal</h5>
          </div>
          <div>
            <p>Restaurant</p>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
      <div class="card-scroll-container cal-book">
        <div class="card-a-row calendar">
          <h5 class="date">06/12/2019</h5>
          <h5 class="name">The Nicotines</h5>
          <div class="card-calendar-row-time">
            <i class="far fa-clock fa-lg" style="color: #83B594"></i>
            <h5 class="time">20h30</h5>
          </div>
        </div>
        <div class="card-a-row calendar">
          <h5 class="date">06/12/2019</h5>
          <h5 class="name">The Nicotines</h5>
          <div class="card-calendar-row-time">
            <i class="far fa-clock fa-lg" style="color: #83B594"></i>
            <h5 class="time">20h30</h5>
          </div>
        </div>
        <div class="card-a-row calendar">
          <h5 class="date">06/12/2019</h5>
          <h5 class="name">The Nicotines</h5>
          <div class="card-calendar-row-time">
            <i class="far fa-clock fa-lg" style="color: #83B594"></i>
            <h5 class="time">20h30</h5>
          </div>
        </div>
        <div class="card-a-row calendar">
          <h5 class="date">06/12/2019</h5>
          <h5 class="name">The Nicotines</h5>
          <div class="card-calendar-row-time">
            <i class="far fa-clock fa-lg" style="color: #83B594"></i>
            <h5 class="time">20h30</h5>
          </div>
        </div>
        <div class="card-a-row calendar">
          <h5 class="date">06/12/2019</h5>
          <h5 class="name">The Nicotines</h5>
          <div class="card-calendar-row-time">
            <i class="far fa-clock fa-lg" style="color: #83B594"></i>
            <h5 class="time">20h30</h5>
          </div>
        </div>
        <div class="card-a-row calendar">
          <h5 class="date">06/12/2019</h5>
          <h5 class="name">The Nicotines</h5>
          <div class="card-calendar-row-time">
            <i class="far fa-clock fa-lg" style="color: #83B594"></i>
            <h5 class="time">20h30</h5>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
      <div class="card-scroll-container reviews">

        <div class="card-review-row">
          <div class="card-review-row-from">
            <h5><strong>Vi</strong> wrote on 26/11/2019</h5>
          </div>
          <div>
            <p>This venue is fabulous. I love it! Every time I visit this place, I hear very good music! I really recommend passing by if you’re in the neighborhood.</p>
          </div>
        </div>

        <div class="card-review-row">
          <div class="card-review-row-from">
            <h5><strong>Vi</strong> wrote on 26/11/2019</h5>
          </div>
          <div>
            <p>This venue is fabulous. I love it! Every time I visit this place, I hear very good music! I really recommend passing by if you’re in the neighborhood.</p>
          </div>
        </div>

        <div class="card-review-row">
          <div class="card-review-row-from">
            <h5><strong>Vi</strong> wrote on 26/11/2019</h5>
          </div>
          <div>
            <p>This venue is fabulous. I love it! Every time I visit this place, I hear very good music! I really recommend passing by if you’re in the neighborhood.</p>
          </div>
        </div>

        <div class="card-review-row">
          <div class="card-review-row-from">
            <h5><strong>Vi</strong> wrote on 26/11/2019</h5>
          </div>
          <div>
            <p>This venue is fabulous. I love it! Every time I visit this place, I hear very good music! I really recommend passing by if you’re in the neighborhood.</p>
          </div>
        </div>

        <div class="card-review-row">
          <div class="card-review-row-from">
            <h5><strong>Vi</strong> wrote on 26/11/2019</h5>
          </div>
          <div>
            <p>This venue is fabulous. I love it! Every time I visit this place, I hear very good music! I really recommend passing by if you’re in the neighborhood.</p>
          </div>
        </div>

      </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
      <div class="card-scroll-container cal-book">

        <div class="card-a-row booking">
          <h5 class="date">06/12/2019</h5>
          <h5 class="name">Adam</h5>
          <div class="booking-icons">
            <a href="#" class="booking-icons-item far fa-comments fa-lg" style="color: #1D73A5"></a>
            <a href="#" class="booking-icons-item fas fa-check-circle fa-lg" style="color: #D3D3D3"></a>
            <a href="#" class="booking-icons-item far fa-times-circle fa-lg" style="color: #D3D3D3"></a>
          </div>
        </div>

        <div class="card-a-row booking">
          <h5 class="date">06/12/2019</h5>
          <h5 class="name">Adam</h5>
          <div class="booking-icons">
            <a href="#" class="booking-icons-item far fa-comments fa-lg" style="color: #1D73A5"></a>
            <a href="#" class="booking-icons-item fas fa-check-circle fa-lg" style="color: #D3D3D3"></a>
            <a href="#" class="booking-icons-item far fa-times-circle fa-lg" style="color: #D3D3D3"></a>
          </div>
        </div>

        <div class="card-a-row booking">
          <h5 class="date">06/12/2019</h5>
          <h5 class="name">Adam</h5>
          <div class="booking-icons">
            <a href="#" class="booking-icons-item far fa-comments fa-lg" style="color: #1D73A5"></a>
            <a href="#" class="booking-icons-item fas fa-check-circle fa-lg" style="color: #D3D3D3"></a>
            <a href="#" class="booking-icons-item far fa-times-circle fa-lg" style="color: #D3D3D3"></a>
          </div>
        </div>

        <div class="card-a-row booking">
          <h5 class="date">06/12/2019</h5>
          <h5 class="name">Adam</h5>
          <div class="booking-icons">
            <a href="#" class="booking-icons-item far fa-comments fa-lg" style="color: #1D73A5"></a>
            <a href="#" class="booking-icons-item fas fa-check-circle fa-lg" style="color: #D3D3D3"></a>
            <a href="#" class="booking-icons-item far fa-times-circle fa-lg" style="color: #D3D3D3"></a>
          </div>
        </div>

        <div class="card-a-row booking">
          <h5 class="date">06/12/2019</h5>
          <h5 class="name">Adam</h5>
          <div class="booking-icons">
            <a href="#" class="booking-icons-item far fa-comments fa-lg" style="color: #1D73A5"></a>
            <a href="#" class="booking-icons-item fas fa-check-circle fa-lg" style="color: #D3D3D3"></a>
            <a href="#" class="booking-icons-item far fa-times-circle fa-lg" style="color: #D3D3D3"></a>
          </div>
        </div>

      </div>
      </div>
    </div>

  <div class="row mt-5"><h3><strong>PROFILE</strong></h3></div>
  <div class="row mt-3">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
      <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/ekipyhjtwrtniwwln3xl.jpg" class="artist-profile-img">
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
      <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/ekipyhjtwrtniwwln3xl.jpg" class="dashboard-avatar">
    </div>
  </div>

  <div class="row mt-3">
    <div class="eventer-cover-img" style="background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https:www.onholdinc.com/mohblog/wp-content/uploads/2018/03/restaurant.jpg)">
      <div>
        <div class="eventer-cover-row">
          <h1>Miam Burger</h1>
          <h5>5333 avenue Casgrain, Montréal</h5>
        </div>
        <div class="eventer-cover-row">
          <p><strong>Restaurant</strong></p>
          <p>All crowd</p>
        </div>
        <div class="eventer-cover-row">
          <p>This restaurant offers different types of burgers. Come enjoy your favorite dish listening to cool local bands! Jazz nights on Thursday. Open Mic on Sunday nights.</p>
        </div>
        <div class="eventer-cover-footer">
          <div>
            <a href="#" class="fas fa-heart fa-lg" style="color: #83B594"></a>
            <a href="#" class="fas fa-share-alt fa-lg" style="color: #83B594"></a>
          </div>
          <div>
            <p class="button-submit review">VIEW REVIEWS</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">

    <div class="user-circle artist">
      <div>
        <div class="user-category">
          <h3 class="artist">i am an</h3>
        </div>
        <div class="user-category">
          <h2 class="artist">artist</h2>
        </div>
      </div>
    </div>

  </div>

  <div class="row mt-3">

    <div class="user-circle eventer">
      <div>
        <div class="user-category">
          <h3 class="eventer">i am an</h3>
        </div>
        <div class="user-category">
          <h2 class="eventer">eventer</h2>
        </div>
      </div>
    </div>

  </div>

  <div class="row mt-3">

    <div class="user-circle passionate">
      <div>
        <div class="user-category">
          <h3 class="passionate">i am a</h3>
        </div>
        <div class="user-category">
          <h2 class="passionate">passionate</h2>
        </div>
      </div>
    </div>

  </div>

</div>
