.dropdown {
  margin: 3px 0px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.filter {
  margin: 0;
  width: 50%;
  select {
    width: 90%;
  }

.input-field-light {
  border: #c5c5c5 1px solid;
  padding: 6px;
  color: #9e9e9e;
  background-color: white;
}

}

